<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>create sprint</title>
  <style media="screen">
    .vertical-center {
      min-height: 90%;
      /* Fallback for browsers do NOT support vh unit */
      min-height: 94vh;
      /* These two lines are counted as one :-)       */
      display: flex;
      align-items: center;
    }
  </style>
</head>

<body>
  <div class="jumbotron vertical-center">
    <div class="container">
      <div class="row top30">
        <div class="col-md-6 col-md-offset-3">
          <form autocomplete="off" action="#" th:action="@{/createSprint}" th:object="${sprint}" method="post" class="form-horizontal" role="form">
            <h2>Sprint Form</h2>

            <div class="form-group">
              <div class="col-sm-9">

                <input type="text" th:field="*{name}" placeholder="Sprint name" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="text" th:field="*{sprintgoal}" placeholder="Sprint goal" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="date" th:field="*{start_date}" placeholder="Start date" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="date" th:field="*{end_date}" placeholder="End date" class="form-control" />
              </div>
            </div>
            <input type="hidden" ng-value="{{projectId}}" name="projectId" />
            <div class="form-group">
              <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block">Create Sprint</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
