<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>JIRA Project</title>
	<style media="screen">
		.top-buffer {
			margin-top: 40px;
		}

		.fixed-panel {
			min-height: 10;
			max-height: 10;
			overflow-y: scroll;
		}

		.panel-height {
			height: 350px;
		}
	</style>
</head>

<body>
	<div class="wrapper container">
		<div class="row">
			<nav class="col-md-2">
				<a ng-href="http://localhost:8080/common/home#!/createSprint/{{project.id}}"><img ng-src="/images/createProject.ico" width="60" height="60"> Ceeate sprint </a>
			</nav>
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
			</div>
			<form class="form-horizontal" role="form" autocomplete="off" action="#" th:action="@{/share/project}" method="post">
				<div class="form-group">
					<div class="col-md-2">
						<input name="email" type="email" class="form-control" placeholder="Email">
					</div>
					<input type="hidden" value="{{project.id}}" name="projectId" />
					<nav class="col-md-2">
						<button class="btn btn-info sm" name="Share" value="Share" type="Submit" th:text="Share"></button>
					</nav>
				</div>
			</form>
		</div>

		<table class="kffeWc">
			<thead class="iccVIQ">
				<tr>
					<th width="200" class="geZoUn"><span>Name</span></th>
					<th width="70" class="bKZlcx"><span>Key</span></th>
					<th width="150" class="dZlBnq"><span>Type</span></th>
					<th width="200" class="dZlBnq"><span>Owner</span></th>
					<th class="lbcrZf"><span>URL</span></th>
					<th width="200" class="lbcrZf"><span>Category</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="200" class="kUfcsh"><span class="gGsHVf"> <a
						ng-href="http://localhost:8080/common/home#!/projectView/{{project.id}}">
							<img ng-src="{{project.imgurl}}" width="50" height="50">{{project.name}}
					</a>
				</span></td>
					<td width="70" class="drqBbD"><span class="fuVjLH">{{project.projectkey}}</span>
					</td>
					<td width="150" class="kqXqNO"><span class="jPYEPF"></span> <span>{{project.projecttype}}</span>
					</td>
					<td width="200" class="kqXqNO"><a href="/"> <img
						ng-src="{{project.owner.imgurl}}" width="40" height="40" alt="">
						{{project.owner.name}}
				</a></td>
					<td class="kqXqNO" width="200"><span>{{project.url}}</span></td>
					<td class="kqXqNO" width="200"><span>{{project.category}}</span></td>
				</tr>
			</tbody>
		</table>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="container">
					<nav class="col-md-4">
					</nav>
					<nav class="col-md-8">
						<h4>
							<strong>Sprint List</strong>
					</h4>
					</nav>
				</div>
			</div>
			<div class="panel-body panel-height" style="max-height: 5;overflow-y: scroll;">
				<div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="sprint in project.sprints ">
					<div class="row top-buffer">
						<td width="200" class="kUfcsh"><span class="gGsHVf"> <a
								ng-href="http://localhost:8080/common/home#!/sprintView/{{sprint.id}}">
									<img ng-src="{{sprint.imgurl}}" width="50" height="50">{{sprint.name}}
							</a>
						</span></td>

						<div class="row">
							<strong>Goal: </strong><a>{{sprint.sprintgoal}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="container">
					<nav class="col-md-4">
					</nav>
					<nav class="col-md-8">
						<h4>
	            <strong>User List</strong>
					</h4>
					</nav>
				</div>
			</div>
			<div class="panel-body panel-height" style="max-height: 5;overflow-y: scroll;">
				<div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="user in project.users  | orderBy:'-rating'">
					<div class="row top-buffer">
						<img width="60" height="60" src="{{user.imgurl}}" class="col-xs-4" />
						<div class="row">
							<strong>{{user.name}}</strong>
						</div>
						<form  th:action="@{/sendMail}" method="post">
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Send mail
	                    <span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									<input type="hidden" name="email" value="{{user.email}}">
									<input type="hidden" name="projectId" value="{{project.id}}">
									<input type="text" name="subject" placeholder="subject">
									<textarea name="body" rows="6" cols="40" placeholder="message"></textarea>
									<button type="submit" class="btn btn-primary btn-block">Send</button>
								</ul>
							</div>
						</form>
						<div class="row">
							<strong>rating: </strong><a href="#">{{user.rating}}</a>
							<ng-rate-it max="10" read-only="isVoted" ng-model="user.rating" rated="myCallback(rating,user.id,project.id)"></ng-rate-it>
							<strong>rating: </strong><a href="#">{{user.rating}}</a>
							<strong>votes: </strong><a href="#">{{user.votecounter}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <ng-rate-it
	ng-model = "String, Number, Array"
	min = "5"
	max = "Double"
	step = "Double"
	read-only = "Boolean"
	pristine = "Boolean"
	resetable = "Boolean"
	star-width = "Integer"
	star-height = "Integer"
	rated = "Function(rating)"
	reset = "Function(rating)"
	before-rated = "Function(newRating): return promise"
	before-reset = "Function(rating): return promise"
	>
</ng-rate-it> -->
	</div>
</body>

</html>
