<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sprint</title>
</head>

<body>
  <nav class="col-md-2">
    <a ng-href="http://localhost:8080/common/home#!/createIssue/{{sprintId}}"><img ng-src="/images/createProject.ico" width="60" height="60"> Issue </a>
  </nav>
  <div class="alert alert-info">
    <div class="container">
      <nav class="col-md-4">
      </nav>
      <nav class="col-md-8">
        <h3>
           <strong>Issue List List</strong>
        </h3>
      </nav>
    </div>
  </div>
  <table class="kffeWc">
    <thead class="iccVIQ">
      <tr>
        <th width="100" class="geZoUn"><span>Type</span></th>
        <th width="200" class="bKZlcx"><span>Summary</span></th>
        <th width="100" class="dZlBnq"><span>Priority</span></th>
        <th width="200" class="dZlBnq"><span>Status</span></th>
      </tr>
    </thead>
    <tbody>
      <tr class="ewoyXV" ng-repeat="issue in issues | orderBy:'priority'">
        <td width="100" class="kUfcsh"><span class="gGsHVf"> <a
              ng-href="http://localhost:8080/common/home#!/issueView/{{issue.id}}">{{issue.type}}
            </a>
          </span></td>
        <td width="200" class="drqBbD"><span class="fuVjLH">{{issue.summary}}</span>
        </td>
        <td width="100" class="kqXqNO"><span class="jPYEPF"></span> <span>{{issue.priority}}</span>
        </td>
        <td width="250" class="kqXqNO"><span>{{issue.status}}</span></td>
      </tr>
    </tbody>
  </table>
</body>

</html>
